/* Fonts */
@import url(//fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* Fixes */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* Common styles BEGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:before,
.block-content:before,
.view-content:before {
  content: " ";
  display: table;
}
.clearfix:after,
.block-content:after,
.view-content:after {
  content: " ";
  display: table;
  clear: both;
}
html {
  min-width: 320px;
}
html, body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}
.region-header .region-inner,
#content-column .block-inner,
.region-tertiary-content .region-inner,
.region-footer .region-inner,
#main-content-header,
#content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6,
.site-name {
  line-height: 1.2;
}
h1, h2, h3, h4,
.site-name {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 34px;
}
h3, h4 {
  font-weight: 600;
}
h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
h1,
.site-name {
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 33px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}
.block-title {
  text-align: center;
  margin-bottom: 50px;
}
.views-field-title a:hover,
.block-title a:hover {
  opacity: 0.65;
}
.region-inner > section,
.block-views {
  padding-top: 50px;
}
p {
  margin: 0 0 15px;
}
p:last-of-type {
  margin-bottom: 0;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
#columns,
.region {
}
#columns .region,
.region-header,
.region-footer {
}
#main-content,
#block-boxes-continue {
}
ul.primary {
  margin: 0 0 5px 0;
  padding: 5px 5px 0 5px;
}
#main-content {
  margin: 0;
}
#big-video-wrap {
  z-index: -1;
}
header h1 {
  display: none;
}
a:not(.contextual-links-trigger),
#cboxContent #cboxClose {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.bigvideo-theme-continue a.continue-button,
.view-preview .views-fieldset a,
.owl-buttons div,
.owl-page span {
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
}
#skip-link {
  display: none;
}
.owl-slider .block-inner {
  width: auto;
}
/* Common styles END */

/* Header BEGIN */
#block-logo-block-logo img {
  max-height: 40px;
}
.region-header .block-inner {
  margin-left: 0;
  margin-right: 0;
}
#header {
  padding: 18px 0 ;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.block-logo-block,
#header nav {
  float: left;
}
#header nav {
  padding-top: 3px;
}
.block-logo-block {
  width: 205px;
  height: 40px;
  margin-right: 17px;
}
nav ul.menu,
nav ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul.menu li {
  display: block;
  float: left;
}
nav.main-menu-block ul.menu li + li {
  margin-left: 34px;
}
nav.main-menu-block ul.menu a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  display: block;
  font-size: 16px;
  padding: 6px 6px 10px;
}
.main-menu-block.block-menu ul.menu li a:hover,
.main-menu-block.block-menu ul.menu li a.yes-visited {
}
.boxes-box-controls ul {
  margin: 0;
}
/* Header END */

/* Footer BEGIN */
#footer {
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}
.region-footer {
}
.footer-nav .menu,
.footer-nav .menu li {
  margin: 0;
  padding: 0;
}
.footer-nav .block-inner {
  margin: 0;
}
.footer-nav .menu li {
  display: inline-block;
  margin: 0px 4px;
}
.footer-nav li:first-child {
  margin-left: 0;
}
.footer-nav .boxes-box-controls {
  display: none;
}
.footer-nav a {
  padding: 0 4px;
  text-decoration: none;
}
.footer-nav a:hover {
  opacity: 0.65;
}
/* Footer END */


/* Categories section BEGIN */
.bigvideo-categories .field-icon {
  text-align: center;
  margin-bottom: 40px;
}
.bigvideo-categories .field-icon .field-content {
  display: inline-block;
  font-size: 67px;
  width: 125px;
  height: 125px;
  line-height: 125px;
}
.view-bigvideo-categories {
  padding-top: 25px;
}
.bigvideo-categories .views-row {
  width: 24.7%;
  display: inline-block;
  vertical-align: top;
  padding: 0 40px;
  margin-bottom: 40px;
}
.bigvideo-categories .views-field-body {
  line-height: 25px;
}
.bigvideo-categories .views-field-field-cat-image {
  text-align: center;
}
.view-categories .views-field.views-field-body {
  margin: 33px 0px 0px;
}
/* Categories section END */

/* Preview section BEGIN */
.view-preview .view-content {
}
.view-preview .views-row {
  float: left;
  width: 48.75%;
  margin-bottom: 30px;
  position: relative;
}
.view-preview .views-row:nth-child(2n-1) {
  margin-right: 2.5%;
}
.view-preview .views-fieldset,
.view-preview .views-field-field-veh-image {
  float: left;
}
.view-preview .views-fieldset {
  width: 53%;
}
.view-preview .views-field-field-veh-image {
  width: 47%;
}
.view-preview .views-fieldset {
  padding: 37px 30px 80px;
}
.preview .block-inner {
  padding-bottom: 80px;
}
.view-preview .views-fieldset a {
  padding: 8px 56px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: 30px;
  bottom: 38px;
  text-align: center;
  padding: 4px 32px;
  margin-top: 7px;
}
.view-preview .views-fieldset a:hover {
}
.view-preview .views-field-field-veh-image img {
  vertical-align: middle;
}
/* Pop-up */
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight {
  display: none;
}
#colorbox {
  color: #000;
  margin-bottom: 60px;
}
#colorbox #cboxLoadedContent {
  margin-bottom: 0;
}
#cboxContent {
  padding-bottom: 60px;
}
#cboxContent,
#cboxLoadedContent,
#cboxWrapper {
  height: auto !important;
}
#cboxContent,
#colorbox, 
#cboxOverlay, 
#cboxWrapper {
  overflow: visible !important;
}
#cboxContent,
#cboxLoadedContent {
  float: none !important;
  width: auto !important;
}
#cboxContent .field-name-field-veh-image {
  float: left;
}
#cboxContent .field-name-field-veh-image {
  max-width: 50%;
  padding: 15px;
}
.node-vehicle .field-name-body {
  padding: 15px;
  background: #fff;
}
#cboxContent .field-name-field-veh-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#cboxContent #cboxClose {
  font-family: 'Quicksand', sans-serif;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 9999;
  background: none;
  width: auto;
  height: auto;
  border-radius: 17px;
  color: #00adc1;
  border: 2px solid #00adc1;
  text-indent: 0;
  text-align: center;
  padding: 4px 32px;
}
#cboxContent #cboxClose:hover {
  color: #fff;
  background: #00adc1;
}
/* Preview section END */

/* Info slider BEGIN */
.owl-slider {
  padding: 0;
}
.owl-carousel {
  padding-bottom: 110px;
  padding-top: 37px;
}
.owl-theme .owl-controls {
  margin: 0;
}
.owl-pagination {
  position: absolute;
}
.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  opacity: 1;
  background: none;
}
.owl-theme .owl-controls .owl-buttons div {
  margin: 0;
  padding: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before,
.owl-theme .owl-controls .owl-buttons .owl-next:before {
  font-family: "FontAwesome";
  font-size: 100px;
  margin-top: -20px;
  line-height: 1;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before {
  content: '\f104';
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-next:before {
  content: '\f105';
}
.owl-controls .owl-pagination {
  display: block;
  width: 100%;
  text-align: center;
  bottom: 70px;
}
.owl-wrapper .views-field-title,
.owl-wrapper .views-field-title a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
}
.owl-wrapper .views-field-body p {
  font-size: 20px; /* Approximation due to font substitution */
  line-height: 34px; /* Approximation due to font substitution */
}
.owl-wrapper-outer .views-field-title {
  margin-bottom: 25px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  position: relative;
}

.owl-theme .owl-controls .owl-page span {
  opacity: 1;
  width: 15px;
  height: 15px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
}
.owl-wrapper .owl-item {
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-wrapper .owl-item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.owl-wrapper .owl-item > div {
  padding: 20px 100px;
}
.owl-theme .owl-controls {
  text-align: center;
}
/* Info slider END */


/* villiage inc start*/

/* Welcome section BEGIN */
.bigvideo-theme-continue {
  padding-top: 8.5%;
  position: relative;
}
.bigvideo-theme-continue .site-name {
  text-align: center;
}
.bigvideo-theme-continue .site-slogan {
  font-size: 20px;
  text-align: center;
  max-width: 655px;
  margin: 0 auto 90px;
}
.bigvideo-theme-continue .continue-button-wrapper,
.bigvideo-theme-continue .continue-arrow {
  text-align: center;
}

.bigvideo-theme-continue .continue-button-wrapper {
  margin: 20px 0 50px;
}

.bigvideo-theme-continue .continue-arrow {
}
.bigvideo-theme-continue a.continue-button,
.bigvideo-theme-continue .continue-arrow div {
  display: inline-block;
}
.continue-button {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 53px;
}
.continue-button:hover {
}
.bigvideo-theme-continue .continue-arrow div {
  width: 28px;
  height: 50px;
}
/* Welcome section END */

/* Three blocks BEGIN */
.region-tertiary-content .region-inner {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.region-tertiary-content .block {
  float: left;
  width: 31%;
  vertical-align: top;
  padding: 40px 55px;
  margin: 0 3.5% 3.5% 0;
}

.region-tertiary-content .block:nth-child(3n) {
  margin-right: 0;
}

.region-tertiary-content .block-inner {
  margin: 0;
}

.region-tertiary-content .block-title {
  text-align: left;
  margin-bottom: 15px;
}

.region-tertiary-content .block-content {
  text-align: left;
}

.region-tertiary-content p {
  line-height: 26px; /* Approximation due to font substitution */
}

.region-tertiary-content h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  line-height: 39px;
  margin: 0px 0px 19px;
  font-weight: normal;
}
/* Three blocks END */