/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable go to your theme settings and
 * look under the "CSS" settings tab.
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region Blocks - custom media query CSS example:
   * 
   * Float regions blocks is an Extension you can enable in the appearance
   * settings for your theme. This feature allows you to automatically float
   * blocks in regions, you can switch it on and off depending on your
   * requirements. For design purposes you many want to remove the floats for
   * devices where the entire theme is just one column - for example small
   * mobile phones. The following CSS is inside the custom media query:
   *
   *   @media only screen and (max-width: 480px){}
   *
   * This will target devices with a maximum width of 480px - most small phones.
   * In these smaller screen sizes we can remove the float and widths so all
   * blocks stack instead of displaying horizonally. The selector used is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  /* Categories section BEGIN */
  .bigvideo-categories .views-row {
    width: 24.5%;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Categories section END */
}

@media only screen and (max-width: 1024px) {
  /* Header BEGIN */
  #header nav {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid rgba(123, 123, 123, 0.7);
    border-bottom: 2px solid rgba(123, 123, 123, 0.7);
  }
  #header nav li {
    float: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.7);
  }
  #header nav li:last-child {
    border-bottom: none;
  }
  #header nav li + li {
    margin: 0;
  }
  #header nav a {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-toggle {
    float: right;
    margin-top: 5px;
    cursor: pointer;
  }
  .mobile-toggle .boxes-box-content {
    text-align: center;
    line-height: 1;
    font-size: 35px;
  }
  /* Header END */

  /* Preview section BEGIN */
  .view-preview .views-fieldset {
    padding: 15px 15px 30px;
  }
  /* Preview section END */
}

@media only screen and (max-width: 960px) {
  /* Info slider BEGIN */
  .owl-carousel {
    padding-top: 20px;
    padding-bottom: 75px;
  }
  .owl-controls .owl-pagination {
    bottom: 40px;
  }
  .owl-wrapper .owl-item > div {
    padding-left: 60px;
    padding-right: 60px;
  }
  .owl-wrapper-outer .views-field-title {
    margin-bottom: 15px;
  }
  /* Info slider END */

  /* Three blocks BEGIN */
  .region-tertiary-content .block {
    padding: 20px 25px;
  }
  .region-tertiary-content .block-title {
    margin-bottom: 10px;
  }
  /* Three blocks END */

  /* Categories section BEGIN */
  .bigvideo-categories .views-row {
    width: 49.5%;
  }
  /* Categories section END */
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
  /* Preview section BEGIN */
  .view-preview {
    text-align: center;
  }
  .view-preview .views-row {
    float: none;
    width: 48%;
    height: 635px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  .view-preview .views-row > div {
    float: none;
    width: 100%;
  }
  .view-preview .views-fieldset {
    padding-bottom: 80px;
  }
  .view-preview .views-fieldset a {
    bottom: 25px;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  /* Preview section END */
}

@media only screen and (max-width: 767px) {
  /* Common styles BEGIN */
  h2 {
    font-size: 36px;
  }
  .region-inner > section,
  .block-views {
    padding-top: 25px;
  }
  .block-title {
    margin-bottom: 25px;
  }
  /* Common styles END */

  /* Welcome section BEGIN */
  .bigvideo-theme-continue {
    padding-top: 4%;
  }
  h1,
  .site-name {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .bigvideo-theme-continue .site-slogan {
    font-size: 16px;
  }
  .bigvideo-theme-continue .site-slogan {
    margin-bottom: 30px;
  }
  /* Welcome section END */

  /* Categories section BEGIN */
  .view-bigvideo-categories {
    padding-top: 10px;
  }
  .bigvideo-categories .field-icon {
    margin-bottom: 15px;
  }
  /* Categories section END */

  /* Preview section BEGIN */
  .view-preview .views-row {
    width: 100%;
    display: block;
  }
  /* Preview section END */

  /* Info slider BEGIN */
  .owl-carousel {
    padding-top: 0;
    padding-bottom: 45px;
  }
  .owl-controls .owl-pagination {
    bottom: 20px;
  }
  .owl-buttons {
    display: none;
  }
  .owl-wrapper .owl-item > div {
    padding: 0 0 20px;
  }
  .owl-wrapper .views-field-title, 
  .owl-wrapper .views-field-title a {
    font-size: 24px;
  }
  .owl-wrapper .views-field-title {
    margin-bottom: 5px;
  }
  .owl-wrapper .views-field-body p {
    font-size: 16px;
    line-height: 1.4;
  }
  /* Info slider END */

  /* Three blocks BEGIN */
  .region-tertiary-content .region-inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .region-tertiary-content .block {
    width: 100%;
    display: block;
  }
  /* Three blocks END */
}

@media only screen and (max-height: 479px) {
  /* Welcome section BEGIN */
  h1,
  .site-name {
    margin-bottom: 5px;
  }
  .bigvideo-theme-continue .site-slogan {
    margin-bottom: 15px;
  }
  .continue-arrow {
    display: none;
  }
  /* Welcome section END */
}

@media only screen and (max-width: 480px) {
  /* Preview section BEGIN */
  .view-preview {
    text-align: center;
  }
  .view-preview .views-row {
    width: 100%;
    height: auto;
    display: block;
  }
  .view-preview .views-row > div {
    float: none;
    width: 100%;
  }
  .view-preview .views-fieldset {
    padding-bottom: 80px;
  }
  .view-preview .views-fieldset a {
    bottom: 25px;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  /* Preview section END */

  /* Categories section BEGIN */
  .bigvideo-categories .views-row {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  /* Categories section END */
}

@media only screen and (max-width:320px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

}
@media only screen and (min-width:321px) and (max-width:580px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

}
@media only screen and (min-width:581px) and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on tablet devices */
body {
  font-size: 93.8%;
}

}
@media only screen and (min-width:769px) and (max-width:1024px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on tablet devices */
body {
  font-size: 93.8%;
}

}
@media only screen and (min-width:1025px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

.mobile-toggle {
  display: none;
}
}